@import "_generals.scss";
@import "_variables.scss";
@import "_mixin.scss";

body {
    @include background;
    height: 96vh;
    font-family: sans-serif;

    header {
        font-size: 42px;
        margin: 30px;
    }

    main {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60vh;

        div {
            color: white;
            text-align: center;
            font-weight: 400;

            h1 {
                margin-left: 90%;
                background-color: gold;
                border-radius: 50%;
                width: 200px;
                height: 200px;
                font-size: 10rem;
                position: relative;
                top: 60px;
            }

            h2 {
                font-size: 15rem;
            }

            h3 {
                font-size: 3rem;
            }
        }
    }

    footer {
        padding: 16vh 5% 0 5%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;

        .lab {
            margin: 15px;
            font-size: 40px;
        }
    }
}